<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header") %>
  <main>
      <section id="banner-principal">
          <!-- Banner-principal -->
          <img src="/images/capa.png" alt="">
      </section>
     
      <span class="sub-titulo">navegue pelo seu universo</span>
          <section id="universo-fav">

              <div id="universo-hq">
                  <span>HQ's</span>
      
              </div>
              <div id="universo-psicologia">
                  <span>Psicologia</span>
      
              </div>
              <div id="universo-decolonial">
                  <span>Decolonial</span>
      
              </div>
            
          </section>

          <span class="sub-titulo">destaque</span>
  <section id="destaque">
      <div class="div-destaque">
          <img src="/images/livrocores.jpg" alt="">
          <div class="sub-destaque">
              
              <p>
                  Guardei no Armário
              </p>
              <h2>R$ 30,00</h2>
             <span class="destaque-badge"><a href="/users" style="text-decoration:none; color: white;">Ver Mais</a></span>
          </div>
      </div>
      <!-- <div class="div-destaque">
          <img src="/images/livrocores.jpg" alt="">
          <div class="sub-destaque">
              
              <p>
                  Guardei no Armário
              </p>
              <h2>R$ 30,00</h2>
             <span class="destaque-badge"><a href="produto.html" style="text-decoration:none; color: white;">Ver Mais</a></span>
          </div>
      </div>
      <div class="div-destaque">
        <img src="/images/livrocores.jpg" alt="">
          <div class="sub-destaque">
              
              <p>
                  Guardei no Armário
              </p>
              <h2>R$ 30,00</h2>
             <span class="destaque-badge"><a href="produto.html" style="text-decoration:none; color: white;">Ver Mais</a></span>
          </div>
      </div>
      <div class="div-destaque">
          <img src="/images/livrocores.jpg" alt="">
          <div class="sub-destaque">
              
              <p>
                  Guardei no Armário
              </p>
              <h2>R$ 30,00</h2>
             <span class="destaque-badge"><a href="produto.html" style="text-decoration:none; color: white;">Ver Mais</a></span>
          </div> -->
      </div>
    
  </section>
  <span class="sub-titulo">categorias</span>
  <section id="categoria">
      <div class="div-categoria">
          <span>Direito</span>

      </div>
      <div class="div-categoria">
          <span>Literatura Estrangeira</span>
      </div>
      <div class="div-categoria">
          <span>Autoajuda</span>
          
      </div>
      <div class="div-categoria">
          <span>Literatura Nacional</span>
      </div>
  </section>
  <span class="sub-titulo">faça sua assinatura</span>
  <section id="assinatura">
      <div class="div-assinatura">
          <img src="/images/revista.jpg" alt="">
      </div>
      <div class="div-assinatura">
          <img src="/images/revista.jpg" alt="">
      </div>
      <div class="div-assinatura">
          <img src="/images/revista.jpg" alt="">
      </div>
  </section>
  <section id="publi">

  </section>
      

  </main>
  <%- include("./partials/footer") %>
  </body>
</html>
